.ui.basic.button.cmnts {
  color: #C8D2DE !important;
  box-shadow: none !important;
  padding-right: 0em;
}

.ui.basic.button.cmnts:hover,
.ui.basic.button.cmnts:active {
  color: #ffffff !important;
  background-color: transparent !important;
}

.ui.basic.button.cmnts:focus {
  color: #ffffff !important;
  background-color: transparent !important;
}
