.ui.placeholder,
.ui.placeholder > :before,
.ui.placeholder .image.header:after,
.ui.placeholder .line,
.ui.placeholder .line:after {
  background-color: #c8d2de !important;
}

.up-next {
  padding: 1em 1em 0 1em;
  font-size: 1.2em;
  font-weight: 700;
}

.next-title {
  display: -webkit-box;
  margin: 0 0 4px 0;
  max-height: 2.8rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.4rem;
  color: #15304e;
}

.next-auth {
  color: #15304e;
  margin: 0 0 4px 0;
  max-height: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3rem;
}

.next-summ {
  color: #15304e;
  font-size: 1em;
  font-weight: 400;
}
