.ui.basic.button.popover {
  color: blue;
  box-shadow: none !important;
  padding: 0em !important;
  margin: 0;
}

.ui.basic.button.popover:hover {
  color: blue;
  box-shadow: none !important;
}

.ui.basic.button.popover:focus {
  color: blue;
  box-shadow: none !important;
}
