.ui.basic.button.not-liked {
  color: #C8D2DE !important;
  box-shadow: none !important;
  padding-right: 0em;
}

.ui.basic.button.not-liked:hover,
.ui.basic.button.not-liked:active {
  color: #ffffff !important;
  background-color: transparent !important;
}

.ui.basic.button.not-liked:focus {
  color: #ffffff;
  box-shadow: none !important;
  background-color: transparent !important;
}

.ui.basic.button.liked {
  color: #ffffff !important;
  box-shadow: none !important;
  padding-right: 0em;
  background-color: transparent !important;
}

.ui.basic.button.liked:hover,
.ui.basic.button.liked:active {
  color: #ffffff !important;
  background-color: transparent !important;
}

.ui.basic.button.liked:focus {
  color: #ffffff !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
